appdirs==1.4.3
appnope==0.1.0
APScheduler==3.5.3
asn1crypto==0.24.0
attrs==16.3.0
Automat==0.5.0
backcall==0.1.0
bblfsh==1.0.1
beautifulsoup4==4.6.0
bleach==2.1.3
bokeh==1.0.4
bs4==0.0.1
cachetools==3.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
coloredlogs==10.0
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.1
cycler==0.10.0
decorator==4.3.0
docker==2.5.1
docker-pycreds==0.2.1
docopt==0.6.2
entrypoints==0.2.3
fastdtw==0.3.2
future==0.17.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
googlemaps==3.0.1
grpcio==1.6.0
gspread==3.1.0
html5lib==1.0.1
httplib2==0.12.0
humanfriendly==4.18
idna==2.5
incremental==16.10.1
ipdb==0.11
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.3.1
jedi==0.12.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.33.8
jupyterlab-launcher==0.11.2
kiwisolver==1.0.1
lxml==3.7.3
-e git+https://github.com/LxMLS/lxmls-toolkit.git@2250dc212201f4d6bd2d8f4410e841f81bfee6c0#egg=LxMLS_Toolkit
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.3
notebook==5.7.8
numpy==1.15.2
oauth2client==4.1.3
oauthlib==2.1.0
ortools==6.7.4973
packaging==16.8
pandas==0.23.4
pandocfilters==1.4.2
parsel==1.1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.4.1
pipreqs==0.4.9
progress-bar==8
progressbar==2.5
prometheus-client==0.3.0
prompt-toolkit==1.0.15
protobuf==3.7.0
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
PyDispatcher==2.0.5
PyDrive==1.3.1
Pygments==2.2.0
pylast==2.4.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.2.2
PySocks==1.6.8
python-dateutil==2.7.3
python-instagram==1.3.2
python-telegram-bot==11.1.0
pytz==2018.9
PyYAML==4.2b4
pyzmq==17.1.0
qtconsole==4.3.1
queuelib==1.4.2
requests==2.19.1
requests-oauthlib==1.0.0
requirements==0.1
rsa==4.0
schedule==0.5.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
selenium==3.12.0
Send2Trash==1.5.0
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
sklearn==0.0
soupsieve==1.6.2
terminado==0.8.1
testpath==0.3.1
tornado==5.1
tqdm==4.31.1
traitlets==4.3.2
tweepy==3.7.0
Twisted==17.1.0
TwitterAPI==2.5.4
tzlocal==1.5.1
uritemplate==3.0.0
urllib3==1.23
virtualenv==16.4.3
w3lib==1.17.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.44.0
widgetsnbextension==3.3.1
wordcloud==1.5.0
yarg==0.1.9
zope.interface==4.3.3
