appnope==0.1.0
APScheduler==3.5.3
asn1crypto==0.22.0
attrs==16.3.0
Automat==0.5.0
backcall==0.1.0
bblfsh==1.0.1
beautifulsoup4==4.6.0
bleach==2.1.3
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.5
cssselect==1.0.1
cycler==0.10.0
decorator==4.3.0
docker==2.5.1
docker-pycreds==0.2.1
docopt==0.6.2
entrypoints==0.2.3
googlemaps==3.0.1
grpcio==1.6.0
gspread==3.0.0
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
incremental==16.10.1
ipdb==0.11
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.3.1
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.33.8
jupyterlab-launcher==0.11.2
lxml==3.7.3
-e git+https://github.com/LxMLS/lxmls-toolkit.git@2250dc212201f4d6bd2d8f4410e841f81bfee6c0#egg=LxMLS_Toolkit
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.3
notebook==5.7.4
numpy==1.13.0
oauth2client==4.1.2
oauthlib==2.1.0
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
parsel==1.1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
pipreqs==0.4.9
progress-bar==8
progressbar==2.5
prometheus-client==0.3.0
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.17
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==19.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==4.2b4
pyzmq==17.1.0
qtconsole==4.3.1
queuelib==1.4.2
requests==2.21.0
requests-oauthlib==1.0.0
rsa==3.4.2
schedule==0.5.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
selenium==3.12.0
Send2Trash==1.5.0
service-identity==16.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
Twisted==17.1.0
TwitterAPI==2.5.4
tzlocal==1.5.1
urllib3==1.24.1
virtualenv==15.1.0
w3lib==1.17.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.44.0
widgetsnbextension==3.3.1
yarg==0.1.9
zope.interface==4.3.3
