absl-py==0.7.1
astor==0.7.1
atomicwrites==1.3.0
blis==0.2.4
boto==2.49.0
boto3==1.9.132
botocore==1.12.132
bz2file==0.98
cymem==2.0.2
docutils==0.14
en-core-web-sm==2.1.0
funcy==1.12
gast==0.2.2
gensim==3.7.2
grpcio==1.26.0
h5py==2.9.0
jmespath==0.9.4
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
langdetect==1.0.7
Markdown==3.1
mock==2.0.0
more-itertools==7.0.0
murmurhash==1.0.2
numexpr==2.6.9
pbr==5.1.3
plac==0.9.6
pluggy==0.9.0
preshed==2.0.1
py==1.8.0
pyLDAvis==2.1.2
pytest==4.4.1
s3transfer==0.2.0
smart-open==1.8.2
spacy==2.1.3
spacy-langdetect==0.1.1
srsly==0.0.5
tensorboard0=2.1.0
tensorflow>=2.1.2
tensorflow-estimator==2.1.0
termcolor==1.1.0
thinc==7.0.4
wasabi==0.2.1
Werkzeug==0.16.1
